<!DOCTYPE html>
<html lang="en">

  <head>
    <title> Cookie Store </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header class="UpperBar">
      <a class="hyperlink" href="https://localhost:5000" methods="get">
        cookie store
      </a>
      <div class="right-section">
        <a class="hyperlink"> <%= username %> </a> 
        <a class="hyperlink" href="https://localhost:5000/login" methods="post">
          login
        </a>
        <a class="hyperlink" href="https://localhost:5000/logout" methods="post">
          logout
        </a>
      </div>
    </header>

    <div class="">
      
    </div>
  
  </body>
</html>