<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Cookie Store </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header class="UpperStrip">
    <a class="StoreLogo" href="http://localhost:5000" methods="get">
      <img src="/images/logo.jpg" alt="logo">
    </a>
    <a class="StoreName">
      Cookie Store
    </a>
  </header>
  <div>
    <p>Welcome to <%= title %></p>
    <form method="post">
      <button>Click to post</button>
    </form>
  </div>
  </body>
</html>